@charset "UTF-8";
@font-face {
  font-family: Cocogoose;
  src: url("../style/fonts/COCOGOOSE/Cocogoose.otf");
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-image: url("../img/background/home-bg-3.png");
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  padding: 0;
  margin: 0 0 40px 0;
}
header nav a {
  display: none;
}
header nav ul {
  display: none;
}

#menu-mob {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 20px 0 0 40px;
}

#home {
  margin: 0 5%;
}
#home h2:nth-child(1) {
  color: #ec5242;
  font-family: Lato, sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 1.5rem;
}
#home h1 {
  font-size: 2.5rem;
  padding-left: 10px;
  margin-top: 10px;
  font-family: Cocogoose, sans-serif;
  font-weight: 700;
  color: #ec5242;
  line-height: 2.5rem;
}
#home div {
  background-color: #f7f7f7;
  padding: 20px;
  border: 3px solid #fff;
  margin: 10px -2%;
}
#home p {
  color: #272a31;
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 12.8px;
}
#home h2:nth-child(4) {
  color: #272a31;
  font-family: Cocogoose, sans-serif;
  margin-bottom: 5px;
  font-size: 28px;
}
#home h4 {
  color: #272a31;
  font-family: Lato, sans-serif;
  font-weight: 400;
  margin: 0 0 100px 0;
  font-size: 16px;
}

#main-program {
  background-image: url("../img/background/main-bg-2.png");
  width: 100%;
  padding: 25px 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-program h3 {
  color: #fff;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 400;
}
#main-program hr {
  background-color: #ec5242;
  border: 1px solid #ec5242;
  width: 45px;
  margin-bottom: 20px;
}
#main-program li {
  background-color: rgba(82, 82, 82, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
}
#main-program li span {
  margin: 25px 30px;
}
#main-program li h5 {
  color: #ec5242;
  margin: 25px 30px 25px 0;
  font-family: Lato, sans-serif;
  font-size: 19.2px;
}
#main-program li p {
  color: #fff;
  margin: 25px 30px 25px 0;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
#main-program button {
  width: 70%;
  margin-top: 40px;
  margin-bottom: 25px;
  height: 80px;
  border: none;
  background-color: #ec5242;
  color: #fff;
  font-family: Lato, sans-serif;
  font-size: 1.2em;
}
#main-program a {
  display: none;
}

#featured-speakers {
  background-color: #fff;
  width: 100%;
  padding: 25px 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#featured-speakers h3 {
  color: #272a31;
  text-align: center;
  margin-bottom: 5px;
  font-family: Lato, sans-serif;
  font-size: 22px;
  font-weight: 400;
}
#featured-speakers hr:nth-of-type(1) {
  border: 1px solid #ec5242;
  border-radius: 1px;
  background-color: #ec5242;
  width: 45px;
  margin-bottom: 10px;
}
#featured-speakers li {
  background-image: url("../img/background/chess-bg.jpg");
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  margin-top: 40px;
}
#featured-speakers li .speaker-img-div {
  margin: 15px 20px 0 15px;
}
#featured-speakers li .speaker-img-div img {
  width: 120px;
  height: 120px;
}
#featured-speakers li .speaker-about h4 {
  margin: 5px 0;
  color: #272a31;
  font-family: Lato, sans-serif;
  font-size: 19.2px;
}
#featured-speakers li .speaker-about h5 {
  margin: 0 0 10px 0;
  color: #ec5242;
  font-family: Lato, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12.8px;
}
#featured-speakers li .speaker-about hr {
  margin: 0;
  width: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 1px;
  background-color: #d3d3d3;
}
#featured-speakers li .speaker-about p {
  color: #272a31;
  font-family: Lato, sans-serif;
  font-size: 11.2px;
  line-height: 19.2px;
}
#featured-speakers button {
  width: 100%;
  margin: 50px 0 20px 0;
  height: 45px;
  border: 2px solid #d3d3d3;
  border-radius: 4px;
  background-color: #fff;
  color: #272a31;
  font-family: Lato, sans-serif;
}

#home-about {
  margin: 0 7% 35px 7%;
  text-align: center;
}
#home-about h2 {
  color: #ec5242;
  font-family: Lato, sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 1.5rem;
}
#home-about h1 {
  font-size: 36px;
  padding-left: 10px;
  margin: 20px 0 50px 0;
  font-family: Cocogoose, sans-serif;
  font-weight: 700;
  color: #ec5242;
  line-height: 36px;
}
#home-about hr {
  display: none;
}
#home-about div {
  background-color: #fff;
  padding: 20px;
  border: 2px solid #d3d3d3;
  margin: 10px -2%;
}
#home-about div p {
  color: #272a31;
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}
#home-about h4 {
  color: #272a31;
  font-family: Lato, sans-serif;
  font-weight: 400;
  margin: 25px 15% 0 15%;
  font-size: 14.4px;
  line-height: 27.2px;
}
#home-about a {
  color: #272a31;
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 14.4px;
  line-height: 27.2px;
}

#main-about {
  background-color: #fff;
  width: 100%;
  padding: 10px 3%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#main-about > h3 {
  color: #272a31;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 22.4px;
  margin-bottom: 5px;
  font-weight: 400;
}
#main-about hr {
  background-color: #ec5242;
  border: 1px solid #ec5242;
  width: 20px;
  margin-bottom: 10px;
}
#main-about h4 {
  color: #272a31;
  font-family: Lato, sans-serif;
  font-weight: 400;
  margin: 0 15% 40px 15%;
  font-size: 14.4px;
  line-height: 27.2px;
}
#main-about #div-logo {
  border: 2px solid #d3d3d3;
  width: 430px;
  height: 150px;
  text-align: center;
}
#main-about #div-logo img {
  width: 200px;
  height: 200px;
}
#main-about hr:nth-of-type(2) {
  margin: 40px 0 30px 0;
  width: 110%;
  background-color: #d3d3d3;
  border: 1px solid #d3d3d3;
}
#main-about h3:nth-of-type(2) {
  margin: 0 10%;
}
#main-about .past-summits {
  position: relative;
  margin-bottom: 15px;
  height: 220px;
  clear: both;
}
#main-about .past-summits img {
  width: 100%;
  height: 100%;
}
#main-about .past-summits div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  background: rgba(236, 82, 66, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main-about .past-summits div h2 {
  margin: 0;
  color: #fff;
  font-size: 2em;
  font-family: Lato, sans-serif;
  font-weight: 700;
}
#main-about .past-summits div h4 {
  margin: 0;
  color: #fff;
  font-size: 1em;
}

.partner-section {
  background-color: #575757;
  width: 106%;
  margin-top: 25px;
}
.partner-section h3 {
  color: #fff;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 22.4px;
  margin: 24px 0 5px 0;
  font-weight: 400;
}
.partner-section hr {
  width: 45px;
  background-color: #ec5242;
  border: 1px solid #ec5242;
  width: 20px;
  margin-bottom: 10px;
}
.partner-section ul {
  margin: 20px 0 25px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.partner-section ul li {
  margin: -40px 15px;
}

footer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  padding: 0 50px;
}
footer div {
  margin-right: 40px;
}
footer h6 {
  margin: 0;
  color: #272a31;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 11.2px;
  line-height: 16px;
}

#footer-home {
  display: none;
}

#partner-section-home {
  display: none;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 125%;
  }

  header {
    background-color: #fff;
    padding: 0 10%;
    height: 90px;
  }
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header nav button {
    display: none;
  }
  header nav a {
    display: block;
  }
  header nav ul {
    display: block;
    display: flex;
  }
  header nav ul li {
    margin-left: 35px;
  }
  header nav ul li a {
    text-decoration: none;
    font-size: 14.4px;
    font-family: Lato, sans-serif;
    color: #272a31;
  }

  #home {
    padding: 0 10%;
    margin: 0;
  }
  #home h1 {
    margin-bottom: 15px;
  }
  #home div {
    margin: 0;
  }
  #home h2 {
    margin-top: 25px;
  }

  #main-program ul {
    display: flex;
  }
  #main-program ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 5px;
  }
  #main-program ul li span {
    margin: 10px 30px 10px 30px;
  }
  #main-program ul li h5 {
    margin: 0 30px 10px 30px;
  }
  #main-program ul li p {
    margin: 0 30px 10px 30px;
  }
  #main-program button {
    display: none;
  }
  #main-program a {
    color: #fff;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 0.9rem;
    margin: 40px 0 30px 0;
    text-decoration: none;
    border-bottom: 2px solid #d3d3d3;
    display: block;
  }

  #featured-speakers ul {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 0px 20px;
    justify-content: center;
  }
  #featured-speakers ul li {
    background-image: url("../img/background/chess-bg-grey.jpg");
  }

  /* Style for About */
  #home-about {
    margin-bottom: 70px;
  }
  #home-about #about-h2 {
    display: none;
  }
  #home-about h1 {
    margin: 80px 0 15px 0;
  }
  #home-about hr {
    background-color: #ec5242;
    border: 1px solid #ec5242;
    width: 20px;
    margin-bottom: 30px;
    display: block;
  }
  #home-about div {
    padding: 20px 40px;
    margin: 10px 15%;
  }

  #main-about h3:nth-of-type(2) {
    margin-top: 10px;
  }
  #main-about > h4:after {
    content: " asdlfjkaiosdfnak alsdjfl asdofia sdklja dsfasidfjla sdfuhasdf sdjds flkasjdf dfa";
  }
  #main-about #past-summits-div {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    margin-bottom: 50px;
  }

  #partner-section-about {
    display: none;
  }

  #footer-about {
    background-color: #2e2e2e;
  }
  #footer-about h6 {
    color: #fff;
  }
  #footer-about h6:after {
    content: "algo más asdjfñlaksjdf añlsdkfj laksdfj aslñdkfj adslkfj";
  }

  #partner-section-home {
    display: block;
    padding-top: 5px;
    padding-bottom: 1px;
  }
  #partner-section-home h3 {
    color: #d3d3d3;
  }
  #partner-section-home hr {
    width: 30px;
  }

  #footer-home {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footer-home h6:after {
    content: "algo más asdjfñlaksjdf añlsdkfj laksdfj aslñdkfj adslkfj";
  }
}

/*# sourceMappingURL=style.css.map */
